body {
  background: #111;
  color: #eee;
  font-family: sans-serif;
  line-height: 1.5;
  margin: 1rem;
  max-width: 768px;
}

header {
  border-bottom: 1px solid #eee;
  margin-bottom: 1rem;
}

footer {
  border-top: 1px solid #eee;
  margin-top: 1rem;
}

a {
  color: lightblue;
}
